.pitch-player {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(0, 0);

  &--none {
    background-color: gainsboro;
  }

  &--bad {
    background-color: lightpink;
  }

  &--good {
    background-color: yellowgreen;
  }
}
